<div class="m-0 h-100">
  <div class="row h-100 position-relative">
    <%= render 'shared/sidenav' %>
    <div class="col-10 h-100 overflow-scroll rounded">
      <% @bookings.each do |booking| %>
        <%= render 'bookings/card', booking: booking %>
      <% end %>
    </div>
  </div>
</div>
