<div class="col-2 bg-light h-100 position-sticky top-0 shadow-sm">
  <div class="border-bottom m-3">
    <p class="m-0">Menu</p>
  </div>
  <div class="side-bar-items m-3">
    <%= link_to bookings_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-solid fa-qrcode pb-2"></i> My Bookings</h6>
    <% end %>
    <%= link_to hosts_experiences_path, class: "text-decoration-none text-dark" do  %>
      <h6><i class="fa-solid fa-money-bill pb-2"></i> My Listings</h6>
    <% end %>
    <%= link_to hosts_bookings_path, class: "text-decoration-none text-dark" do  %>
      <h6> <i class="fa-regular fa-bell pb-2"></i> My requests</h6>
    <% end %>
  </div>
</div>
