<div class="banner text-center">
  <h1>Survival bnb</h1>
  <p><em>Beyond your limit</em></p>
</div>
<div class="container mt-3 mb-3">
  <h3>All experiences</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @experiences.each do |experience| %>
      <div class="col w-25">
        <div class="card">
          <%= link_to experience_path(experience.id), target: :_blank do %>
            <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(<%= experience.photo.attached? ? cl_image_path(experience.photo.key) : "banner.jpg" %>)">
            </div>
          <% end %>
          <div class="info d-flex justify-content-between align-items-end">
            <div class="card-body">
              <h5 class="card-title"><%= experience.title %></h5>
              <p class="card-text">$<%= experience.price %>/person</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
