<div class="container vh-100">

  <div class="row">

    <div class="col-6">
      <img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 90%; height: 90%;">
    </div>

  <div class="col-5">
  <div class="row d-flex flex-column text-start">
    <div class="col-9">
    <h2>“Pellentesque maecenas vitae vehicula eget. Ultricies ac id massa maecenas nulla arcu lacus. Turpis porttitor.”</h2>
    </div>

    <div class="col-3">
    <div class="container d-flex">
      <div class="col">hi</div>
       <div class="col">hi</div>
        <div class="col">hi</div>
         <div class="col">hi</div>
          <div class="col">hi</div>
    </div>
    </div>


  </div>
  </div>
  </div>


  <div class="row">

  </div>

</div>
