<div class="container min-vh-100">

<div class="row mb-3">
<div class="col">
  <img src="https://images.unsplash.com/photo-1567097194892-d6ecbf4a44b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80" alt="My Image" style="width: 90%; height: 90%;">
</div>

<div class="col">
<div class="container d-flex flex-column">
<span class="big-arrow">&rarr;</span>
</div>
</div>
</div>


<div class="row">

</div>

</div>
