.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 3px rgb(179, 179, 179);
}

.form-control-search {
  background-image: asset-url('glass.png');
  background-position: 10px 3px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 20px;
  text-indent: 35px;
  border-radius: 50px;
  width: 300px;
  border: 1px solid rgb(214, 213, 213);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.avatar {
  cursor: pointer;
  &:hover {
    outline: 3px solid #C4CBD5;
  }
}
