.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
}
.container-fluid {
  position: relative;
}
.search-bar {
  position: absolute;
  left: -300px;
  top: -20px;
}

.form-control {
  background-image: asset-url('gkass.png');
  background-position: contain;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 40px;
  text-indent: 25px;
  border-radius: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;

}
